.contacts-page .page-part-1 {
	background: #769188;
}
.contacts-page .page-part-1-content {
	padding-top: 30px;
	padding-bottom: 30px;
	margin: 0 9%;
}
.contacts-page .info-block {
    display: inline-block;
    height: 70vh;
    width: 60%;
    position: relative;
}
.contacts-page .light {
  background: #96CAB9;
  width: 50px;
  height: 50px;
/*  border-radius: 50%;*/
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;  
  box-shadow: 0px 0px 143px 80px #A2DECA;
  -webkit-box-shadow: 0 0 203px 68px #a2deca;
}
.contacts-page .name-surname {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  color: #ffffff;
  font-size: 36px;
}
.contacts-page .content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    max-width: 98%;
}
.va-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.contacts-page .name-surname>span:not(:nth-child(5)) {
    display: inline-block;
    background: #145e46;
    padding: 5px;
    line-height: 0.8;
}
.contacts-page .telephone,
.contacts-page .skype,
.contacts-page .email {
    color: #ffffff;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
}
.contacts-page .caption {
    color: #145e46;
}
.contacts-page .telephone {
    font-size: 24px;
    text-align: right;
}
.contacts-page .skype {
    font-size: 36px;
    line-height: 1;
    text-align: left;
}
.contacts-page .email {
    font-size: 24px;
}
.contacts-page .references>div {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
    margin: 0px 5px;
}
.contacts-page .references>div:hover {
    box-shadow: 0 0 10px 1px #a2deca;
}
.contacts-page .page-part-2 {
    background: #a2deca;
}
.contacts-page .page-part-2-content {
	padding-top: 30px;
	padding-bottom: 30px;
}
.contacts-page .reviews-block {
    width: 70%;    
    margin-top: 25vh;
    display: inline-block;
    padding: 4px;
}
.contacts-page .input-component {
    height: 150px;
    width: 100%;
    background: #ffffff;
    position: relative;
}
.contacts-page .input-component .top-light {
    background: transparent;
    height: 19px;
    width: 60%;
    left: 0;
    top: 0px;
    right: 0;
    border-radius: 50%;
    margin: auto;
    position: absolute;
    box-shadow: 0 0 45px 9px #ffffff;
}
.contacts-page .input-component>.row {
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 4px 5px;    
}
.contacts-page .input-component textarea {
    height: 100%;
    border: none;
    resize: none;
    outline: none;
    background: #a2deca;
    font-family: 'Titillium Web', sans-serif;
	font-weight: 600;
    font-size: 18px;
    color: #ffffff;    
}
.contacts-page .input-component textarea.message-option {
    padding: 5px;
}
.contacts-page .input-component textarea.message-option::-webkit-input-placeholder,
.contacts-page .input-component textarea.name-option::-webkit-input-placeholder {
    text-align: center;
    line-height: 7em;
    color: #ccffee;    
}
.contacts-page .input-component textarea.name-option::-webkit-input-placeholder {
    line-height: 7em;
    color: #ccffee;
    text-align: center;
}
.contacts-page .input-component textarea.name-option {
    line-height: 7em;
    text-align: center;
}
.contacts-page .input-component button {
    background-image: linear-gradient(to bottom, rgba(227,249,242,1) 0%,rgba(241,250,247,1) 50%,rgba(255,255,255,1) 50%);
    height: 100%;
    border: 4px solid #a2deca;
    outline: 4px solid #ffffff;
    font-family: 'Titillium Web', sans-serif;
	font-weight: 900;
    font-size: 18px;
	color: #a2deca;
    transition: background-size .3s linear, background-position .3s linear, color .5s linear, text-shadow .5s linear;
    -webkit-transition: background-size .3s linear, background-position .3s linear, color .5s linear, text-shadow .5s linear;    
    background-size: 100% 100%;
}
.contacts-page .input-component button.change-text-transition {
    color: transparent;
    text-shadow: 0 0 2em #a2deca;
}
.contacts-page .input-component button:hover { 
    background-size: 100% 200%; 
    background-position: 0 200%;  
}
.contacts-page .messages-container {
    width: 100%;
    margin: 25px 0;
}
.contacts-page .message-author>span {
    background: #ffffff;
    color: #a2deca;
    font-size: 18px;
}
.contacts-page .message-text>span {
    color: #ffffff;
    font-size: 18px;
}
.contacts-page .message.row {
    margin-top: 10px;
}
@media (max-width: 1000px) {
    .contacts-page .info-block {
        width: 80%;
    }
}
@media (max-width: 767px) {
    .contacts-page .input-component {
        height: 100px;
    }
    .contacts-page .input-component textarea.message-option::-webkit-input-placeholder,
    .contacts-page .input-component textarea.name-option::-webkit-input-placeholder {
        line-height: 1em;
        text-align: left;
        font-size: 14px;
    }
    .contacts-page .input-component textarea.name-option,
    .contacts-page .input-component textarea.message-option {
        line-height: 1em;
        padding: 5px;
        text-align: left;
        font-size: 14px;
    }
    .contacts-page .input-component button {
        font-size: 14px;
        padding: 2px;
    }
    .contacts-page .info-block {
        width: 99%;
    }
    .contacts-page .name-surname {
        font-size: 17px;
    }
    .contacts-page .telephone {
        font-size: 16px;
    }
    .contacts-page .skype {
        font-size: 16px;
    }
    .contacts-page .email {
        font-size: 16px;
    }
    .contacts-page .message-author>span,
    .contacts-page .message-text>span {
        font-size: 14px;
    }
}
@media (max-width: 400px) {
    .contacts-page .name-surname>span:not(:nth-child(5)) {
        margin-right: -4px;
    }
}