<div class="contacts-page">
    <div class="page-part page-part-1">
        <div class="container-fluide page-part-1-content text-center">
            <div class="info-block">
                <div class="light"></div>
                <div class="content">
                    <div class="name-surname">
                        <span>D</span>
                        <span>I</span>
                        <span>M</span>
                        <span>A</span>
                        <span>&nbsp</span>
                        <span>K</span>
                        <span>H</span>
                        <span>I</span>
                        <span>L</span>
                        <span>C</span>
                        <span>H</span>
                        <span>U</span>
                        <span>K</span>
                    </div>
                    <div class="telephone">
                        <span class="caption">TELEPHONE</span>
                        <span>0979559355</span>
                    </div>
                    <div class="skype">
                        <span class="caption">SKYPE</span>
                        <span>hil400k</span>
                    </div>
                    <div class="email">
                        <span class="caption">EMAIL</span>
                        <span>hil400k@ukr.net</span>
                    </div>
                    <div class="references text-left">
                        <div class="git">
                             <a href="https://github.com/hil400k">
                                <img class="img-responsive" src="../../../images/git.png" alt="">
                            </a>
                        </div>
                        <div class="odesk">
                            <a href="https://www.odesk.com/users/~01f2f86996f90b6ca9">
                                <img class="img-responsive" src="../../../images/odesk.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="va-helper"></div>
            </div>
        </div>
    </div>
    <div class="page-part page-part-2">
        <div class="container-fluide page-part-2-content text-center">
            <div class="reviews-block">                
                <div class="input-component text-center"> 
                    <div class="top-light"></div>                   
                    <div class="row text-center">                        
                        <textarea name="" placeholder="ENTER YOUR NAME:" class="col-md-10 col-sm-9 col-xs-7 name-option"></textarea>
                        <button class="col-md-2 col-sm-3 col-xs-5 reviews-block-button">CONFIRM NAME</button>
                    </div>
                </div>
                <div class="messages-container">
                    <div class="message row">
                        <div class="message-author col-sm-2 text-left">
                            <span class="label label-default">Dimas</span>
                        </div>
                        <div class="message-text col-sm-10 text-left">
                            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione totam fugit vel veritatis, nulla, commodi soluta, possimus eveniet temporibus eaque dolore nesciunt iure et, amet libero adipisci cumque ut molestiae.
                            </span>
                        </div>
                    </div><div class="message row">
                        <div class="message-author col-sm-2 text-left">
                            <span class="label label-default">Dimas</span>
                        </div>
                        <div class="message-text col-sm-10 text-left">
                            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione totam fugit vel veritatis, nulla, commodi soluta, possimus eveniet temporibus eaque dolore nesciunt iure et, amet libero adipisci cumque ut molestiae.
                            </span>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>