<div class="top-line"></div>
<nav class='navbar navbar-fixed-top navbar-style'>
	<div class='container'>
	    <div class="menu-button">
           <div class="square">
               <span>MENU</span>
               <div class="menu-logo">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
           </div>
	    </div>
		<div id='navbar'>		    
			<ul class="nav navbar-nav">
				<li class="menu-item"><a href="/#about">ABOUT</a></li>
				<li class="menu-item"><a href="/#contacts">CONTACTS</a></li>
				<li class="menu-item"><a href="/#articles">ARTICLES</a></li>
				<li class="menu-item"><a href="/#portfolio">PORTFOLIO</a></li>
            </ul>
		</div>
	</div>
</nav>