<div class="portfolio-page">
    <div class="container-fluide page-content">
        <div class="row page-title">
            <div class="col-sm-offset-2 col-sm-8 text-center">
                <h1><span>HERE&nbsp;</span> YOU CAN SEE MY WORKS</h1>
            </div>
        </div>
        <div class="row text-center">
            <div class="portfolio-slider">
                <div class="row">
                    <div class="col-md-3 col-sm-4">
                        <div class="slides-container">
                            <div class="top-slide">
                                <a class="forward-button"></a>
                            </div>
                            <div class="bottom-slide">
                                <a class="back-button"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-8">
                        <div class="slider-maximized-img">
                            <div class="img-wraper"></div>
                            <div class="project-title text-left">
                                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem assumenda dolore est, porro reprehenderit tenetur, esse similique? Id veniam tempora enim eaque, deleniti libero, dolores. Numquam quam doloremque harum nostrum. ipsum dolor sit amet, consectetur adipisicing elit. Enim aperiam repellat nobis totam necessitatibus eveniet, consequatur dolorem quisquam nihil quos nostrum velit dolores neque hic architecto rem repellendus, inventore similique!</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>