<div class="portfolio-page">
    <div class="container-fluide page-content">
        <div class="row page-title">
            <div class="col-sm-offset-2 col-sm-8 text-center">
                <h1><span>HERE&nbsp;</span> YOU CAN SEE MY WORKS</h1>
            </div>
        </div>
        <div class="row text-center">
            <div class="portfolio-slider">
                <div class="row">
                    <div class="col-md-3 col-sm-4">
                        <div class="slides-container">
                            <a class="forward-button">
                                <img src="/images/arrow-top.png" class="noselect" alt="">
                            </a>
                            <div class="slides-wrap">
                                <div class="loader-back">
                                    <div class="spinner">
                                      <div class="double-bounce1"></div>
                                      <div class="double-bounce2"></div>
                                    </div>
                                </div>    
                            </div>
                            <a class="back-button">
                                <img src="/images/arrow-top.png" class="noselect" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-8">
                        <div class="slider-maximized-img">
                            <div class="img-wraper"></div>                            
                        </div>
                    </div>
                    <div class="col-md-offset-3 col-sm-offset-4 col-md-9 col-sm-8">
                            <div class="project-title text-left">
                                <h3></h3>
                                <span><br>Wait...</span>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>