<div class="container-fluide footer-container text-center">
    <div class="footer-content text-center">
        <div class="to-top-circle text-center">
            <span href="#top">TO TOP</span>
        </div>
        <div class="divider"></div>
        <div class="footer-contacts">
            <span>SKYPE hil400k</span>
            <a href="https://github.com/hil400k">ODESK</a>
            <a href="https://www.odesk.com/users/~01f2f86996f90b6ca9">GITHUB</a>
            <a href="https://www.facebook.com/profile.php?id=100002119300516">FACEBOOK</a>
            <a href="https://www.linkedin.com/profile/view?id=AAIAABs7cHMBa8Ok8_YfesyyJ5peA14Gl3xCCq4&trk=nav_responsive_tab_profile">LINKEDIN</a>
        </div>
    </div>
</div>