<div class="controls">
	<a class="to-top"><img src="../../../images/arrow-top.png" alt=""></a>
	<a class="to-bottom"><img src="../../../images/arrow-top.png" alt=""></a>
</div>
<div class="tech-slider">
	<div class="dummy"></div>
	<div class="wrap">
		<div class="part">
			<div class="left"><img class="slider-img" src="../../../../images/html5.png"></div>
			<div class="right"><img class="slider-img" src="../../../../images/css3.png"></div>
		</div>
		<div class="part">
			<div class="left"><img class="slider-img" src="../../../../images/javascript.png"></div>
			<div class="right"><img class="slider-img" src="../../../../images/jquery.png"></div>
		</div>
		<div class="part">
			<div class="left"><img class="slider-img" src="../../../../images/backbone.png"></div>
			<div class="right"><img class="slider-img" src="../../../../images/requirejs.png"></div>
		</div>
		<div class="part">
			<div class="left"><img class="slider-img" src="../../../../images/bootstrap.png"></div>
			<div class="right"></div>
		</div>
	</div>
</div>