<% if (token) { %>
    <button type="button" data-toggle="modal" data-target="#myModal" class="btn admin-edit-btn" id="wiuImages"><span class="glyphicon glyphicon-picture"></span></button>
<% } %>
<div class="controls">
	<a class="to-top"><img src="../../../images/arrow-top.png" alt=""></a>
	<a class="to-bottom"><img src="../../../images/arrow-top.png" alt=""></a>
</div>
<div class="tech-slider">
	<div class="dummy"></div>
	<div class="wrap">
	    <% for(var i = 0; i < paths.length; i +=2) { %>
		<div class="part">
			<div class="left"><img class="slider-img" src="<%= paths[i] %>"></div>
			<div class="right">
			    <% if (paths[i + 1]) { %>
			        <img class="slider-img" src="<%= paths[i + 1] %>">
			    <% } %>
			 </div>
		</div>
		<% }; %>
	</div>
</div>